* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background: #eaf6f6;
	color: #124265;
}
.main-container {
	height: 100vh;
	padding: 2% 5%;
}
.title {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: 20px;
	padding: 1%;
	margin: 10px 0;
	text-align: center;
}
.title h1 {
	margin-bottom: 20px;
}
.title #time {
	margin-bottom: 10px;
}

.dynamic {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 50px;
}
.dynamic div {
	text-align: center;
	width: 25%;
	padding: 50px;
	border-radius: 10px;
	box-shadow: 10px 16px 38px -11px rgba(0, 0, 0, 0.82);
	-webkit-box-shadow: 10px 16px 38px -11px rgba(0, 0, 0, 0.82);
	-moz-box-shadow: 10px 16px 38px -11px rgba(0, 0, 0, 0.82);
}

.date-copy {
	text-align: center;
	padding: 1%;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 600;
	color: grey;
}

@media (max-width: 768px) {
	.dynamic {
		flex-direction: column;
	}
	.dynamic div {
		width: 100%;
		font-size: 16px;
		font-weight: 600;
	}
}
